<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.tiny.cloud/1/{Your API Key Here}/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<body>
<div class="container">

<h1 style="text-align:center;"> New Post</h1>
    <form  class="" id="addEditForm" th:action="@{/newpost}" th:object="${post}" method="POST">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <label>Title</label>
                <div>
                    <input type="text" class="form-control" style="width:100%" id="title"  onblur="preview()"  maxlength="128"  placeholder="Enter title here" required/>
                </div>
                <div>
                    <input type="text" class="form-control" style="width:100%" id="thumbnail" onblur="preview()" name="image" placeholder="Enter image url here" required/>
                </div>
                <div>
                    <input type="text" class="form-control" style="width:100%" onblur="preview()" id="description"  name="description" placeholder="Enter the description here" required/>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9">
                <textarea id="default-editor" name="content" style="width:100%; height:600px" required></textarea>
                <script>
                    tinymce.init({
                      selector: 'textarea#default-editor'
                    });
              </script>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9">
                <input type="submit" value="Save"/>
            </div>
        </div>
    </form>

    <h3 style="text-align:center;">Preview card</h3>
<div class=" row justify-content-center">
    <div class="card " style="width: 18rem;">
        <img class="card-img-top" id="pre-img" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" id="pre-title">Card title</h5>
            <p class="card-text" id="pre-description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a  class="btn btn-primary">Read</a>
        </div>
    </div>
</div>



</div>

<script>
        function preview(){

        var x = document.getElementById("thumbnail").value;
        var y = document.getElementById("title").value;
        var i = document.getElementById("description").value;

        document.getElementById("pre-img").src = x;
        document.getElementById("pre-title").innerHTML = y;
        document.getElementById("pre-description").innerHTML = i;
        }


    </script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
